.container {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 20px;

	background: linear-gradient(107.13deg, #dedede 0%, rgba(211, 211, 211, 0.1) 100%);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
	border-radius: 30px;

	width: fit-content;
	height: fit-content;
}

.participants-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 624px;
	width: 290px;
	background-color: #fff;
	border-radius: 15px;

	padding: 20px;

	box-sizing: border-box;
}

.participants-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.participants-wrapper h3 {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.participants-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.participants-user-wrapper {
	display: flex;
	gap: 14px;
	align-items: center;
}

.participants-user-wrapper img {
	height: 40px;
	width: 40px;
}

.participants-logout {
	width: 100%;
	justify-self: flex-end;
	align-self: flex-end;
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.room-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 20px;

	width: 844px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #000;
	border-radius: 15px;
	background-color: #fff;
}

.room-wrapper img {
	cursor: pointer;
}

.chat {
	height: 534px;
	background-color: #fff;
	border-radius: 15px;
}

.chat-container {
	width: 846px;
	height: 534px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: #fff;
	padding: 20px 5px 20px 20px;
	border-radius: 15px;
}

.chat-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;

	height: 430px;
	/* padding-right: 20px; */
}

.scroller {
	height: 430px;
}

.spacing {
	margin-right: 20px;
}

.right-container {
	display: flex;
	justify-content: flex-end;
}

.right-wrapper,
.left-wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	font-size: 11px;
}

.right-wrapper span {
	align-self: flex-end;
	margin-right: 51px;
}

.left-wrapper {
	padding: 5px;
}

.left-wrapper span {
	margin-left: 51px;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.left {
	display: flex;
	justify-content: flex-start;
}

.left,
.right {
	gap: 10px;
	align-items: flex-end;
}

.message-box {
	display: flex;
	flex-direction: column;
	padding: 10px 16px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	max-width: 450px;

	font-size: 14px;
}

.message-box div {
	/* padding-left: 16px; */
	font-size: 10px;
	color: rgba(0, 0, 0, 0.4);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 418px;
}

.left img,
.right img {
	height: 36px;
	width: 36px;
}

.middle {
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.4);
	font-size: 14px;
}

.send-wrapper {
	display: flex;
	gap: 20px;
	width: 100%;
}

.send-wrapper input {
	background-color: #eaecf5;

	border-radius: 50px;

	border: none;
	width: 669px;
	padding-left: 20px;
	padding-right: 20px;
}

.send-wrapper input:focus {
	outline: none;
}

.send-wrapper input::placeholder {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #777777;
}

.send-wrapper img {
	cursor: pointer;
}
