.container {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 20px;

	background: linear-gradient(107.13deg, #dedede 0%, rgba(211, 211, 211, 0.1) 100%);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
	border-radius: 30px;

	width: fit-content;
	height: fit-content;
}

.participants-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 624px;
	width: 290px;
	background-color: #fff;
	border-radius: 15px;

	padding: 20px;

	box-sizing: border-box;
}

.participants-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.participants-wrapper h3 {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.participants-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.participants-user-wrapper {
	display: flex;
	gap: 14px;
	align-items: center;
}

.participants-user-wrapper img {
	height: 40px;
	width: 40px;
}

.participants-logout {
	width: 100%;
	justify-self: flex-end;
	align-self: flex-end;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.room-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 20px;

	width: 844px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #000;
	border-radius: 15px;
	background-color: #fff;
}

.chat {
	height: 534px;
	background-color: #fff;
	border-radius: 15px;
}

.chat-container {
	width: 846px;
	height: 534px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: #fff;
	padding: 20px 5px 20px 20px;
	border-radius: 15px;
}

.chat-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;

	overflow: scroll;
	overflow-x: hidden;

	height: 430px;
	padding-right: 20px;
}

.right {
	display: flex;
	justify-content: flex-end;
	margin-left: 0 auto;
}

.middle {
	justify-content: center;
}

.left {
	display: flex;
	justify-content: flex-start;
}

.send-wrapper {
	display: flex;
	gap: 20px;
	width: 100%;
}

.send-wrapper input {
	background-color: #eaecf5;

	border-radius: 50px;

	border: none;
	width: 669px;
	padding-left: 20px;
}

.send-wrapper input:focus {
	outline: none;
}

.send-wrapper input::placeholder {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #777777;
}
